<!-- static data or hard codded data -->
<!-- <div class="card h-100 shadow ">
    <img src="https://wallpaperaccess.com/thumb/756627.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
</div> -->

<!-- dynamic data -->
  <div class="card h-100 shadow ">
    <img src={{productObj.productImage}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{productObj.productTitle}}</h5>
      <p class="card-text">{{productObj.description}}</p>
      <a href="#" class="btn btn-primary" (click)="sendProductDetailsToParent(productObj.productTitle)">Add Cart</a>
    </div>
  </div>
