<!-- static data or hard codded data -->
<!-- <div class="card h-100 shadow ">
    <img src="https://wallpaperaccess.com/thumb/756627.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
</div> -->

<!-- dynamic data -->
  <div class="card shadow h-100">
    <div class="row g-0">
      <div class="col-md-4 ">
        <img src={{productObj.productImage}} class="card-img-top p-2 h-75 mt-5 " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(123, 145, 2);">{{productObj.productTitle}}</h5>
          <p class="card-text">{{productObj.description}}</p>
          <h6 class="card-text">{{productObj.price}}</h6>
          <a href="#" class="btn btn-primary mt-auto" (click)="sendProductDetailsToParent(productObj.productTitle)">Add Cart</a>
        </div>
      </div>
    </div>
  </div>
