<div class="card">
    <div class="card-body">
      <p class="card-text"></p>
      <div class="container text-dark mt-5">
        <div class="row">
            <div class="col-sm-1 col-md-2 "></div>
            <div class="col-sm-10 col-md-8 mt-4">
                <p class="">SmartBuy is an indian e-commerce mobile selling company,based in Hyderabad, India
                    The company initially focuseing on online book sales before expanding into other product categories 
                </p>
                <p>
                    The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.
                    As of March 2017, SmartBuy held a 39.5% market share of India's e-commerce industry.SmartBuy has a dominant position in
                    the apparel segment and was described as being "neck and neck" with Amazon in the sale of mobile phones.
                    SmartBuy also owns PhonePe, a mobile payments service based on the Unified Payments Interface.
                </p>
                <button class="btn d-block mx-auto mt-3">Know more</button>
            </div>
            <div class="col-sm-1 col-md-2"></div>
        </div>
    </div>
</div>