<h2 class="text-center text-dark mt-5">Registration Form</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6">
            <form class="mt-4">
                <div class="mb-3">
                    <label for="un" class="form-label">Username</label>
                    <input type="text" class="form-control"name="username" id="un" placeholder="enter username">
                </div>
                <div class="mb-3">
                    <label for="dob" class="form-label">DOB</label>
                    <input type="date" class="form-control" name="dob" id="dob">
                </div>
                <div class="mb-3">
                  <label for="em" class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" id="em" placeholder="sample@gmail.com">
                </div>
                <div class="mb-3">
                  <label for="pw" class="form-label text-dark">Password</label>
                  <input type="password" class="form-control" name="password" id="pw" placeholder="*********">
                </div>
                <label for="" class="pb-2">Select Gender</label> <br>
                <div class="form-check form-check-inline px-5">
                    <input class="form-check-input" type="radio" name="gender" id="m" value="option1">
                    <label class="form-check-label" for="m">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="fm" value="option2">
                    <label class="form-check-label" for="fm">Female</label>
                </div>
                <button type="submit" class="btn btn-primary d-block mx-auto">Submit</button>
            </form >
        </div>
        <div class="col-sm-2 col-md-3"></div>
    </div>    
</div>

